<div class="bloqueImgFondo">
    
    <img src="images/balenci-bolsa.png" alt="BOLSAS">
    <button class="botonImg">BOLSAS</button>

</div>

<div class="titulo">
    <h2>USADO Y SEMINUEVO*</h2>
</div>

<div class="bloqueBolsas">
    <div class="producto-item">
        <img src="images/maja-bolsa.png" alt="Maleta Maja">
        <p class="info-producto">
            <span class="nombre">MALETA MAJASPORTSWEAR</span>
            <span class="precio">$ 999.00 MXN</span>
        </p>
    </div>

    <div class="producto-item">
        <img src="images/golfwang-bolsa.png" alt="Duffle Golf Wang">
        <p class="info-producto">
            <span class="nombre">DIAMOND QUILTED DUFFLE GOLF WANG</span>
            <span class="precio">$ 1,500.00 MXN</span>
        </p>
    </div>
</div>


<div class="bloqueImgFondo">
    
    <img src="images/twojeys-cadena.png" alt="">
    <button class="botonImg">JOYERÍA</button>

</div>