<div class="barraNav">
  <nav>
    <ul class="nav-links">
      
      <div class="links-izq">
        <ng-container *ngFor="let cat of categorias">
          <li *ngIf="cat.nombre === 'HOMBRE' || cat.nombre === 'MUJER'">
            <a href="#">{{ cat.nombre }}</a>
            <ul *ngIf="cat.subcategorias.length > 0">
              <li *ngFor="let sub of cat.subcategorias">
                <a href="#">{{ sub }}</a>
              </li>
            </ul>
          </li>
        </ng-container>
      </div>
      
      <div class="links-centro">
        <li><a href="#">CATÁLOGO*</a></li>
      </div>

      <div class="links-der">
        <ng-container *ngFor="let cat of categorias">
          <li *ngIf="cat.nombre === 'BOLSAS' || cat.nombre === 'JOYERIA'">
            <a href="#">{{ cat.nombre }}</a>
            <ul *ngIf="cat.subcategorias.length > 0">
              <li *ngFor="let sub of cat.subcategorias">
                <a href="#">{{ sub }}</a>
              </li>
            </ul>
          </li>
        </ng-container>
      </div>

    </ul>
  </nav>
</div>