<div class="barraNav">
    <nav>
        <ul class="nav-links">
            
            <div class="links-izq">
                <li><a href="#">HOMBRE</a>
                    <ul>
                        <li><a href="#">Camisetas*</a></li>
                        <li><a href="#">Camisas | Polos*</a></li>
                        <li><a href="#">Sacos*</a></li>
                        <li><a href="#">Chalecos*</a></li>
                        <li><a href="#">Chamarras Zip*</a></li>
                        <li><a href="#">Hoodies*</a></li>
                        <li><a href="#">Suéteres*</a></li>
                        <li><a href="#">Pantalones*</a></li>
                        <li><a href="#">Jeans*</a></li>
                        <li><a href="#">Shorts*</a></li>
                        <li><a href="#">Sombreros*</a></li>
                        <li><a href="#">Accesorios*</a></li>
                    </ul>
                </li>

                <li><a href="#">MUJER</a>
                    <ul>
                        <li><a href="#">Camisetas*</a></li>
                        <li><a href="#">Camisas | Polos*</a></li>
                        <li><a href="#">Sacos*</a></li>
                        <li><a href="#">Chalecos*</a></li>
                        <li><a href="#">Chamarras Zip*</a></li>
                        <li><a href="#">Hoodies*</a></li>
                        <li><a href="#">Suéteres*</a></li>
                        <li><a href="#">Pantalones*</a></li>
                        <li><a href="#">Jeans*</a></li>
                        <li><a href="#">Shorts*</a></li>
                        <li><a href="#">Sombreros*</a></li>
                        <li><a href="#">Accesorios*</a></li>
                    </ul>            
                </li>
            </div>
            
            <div class="links-centro">
                <li><a href="#">CATÁLOGO*</a></li>
            </div>

            <div class="links-der">
                <li><a href="#">BOLSAS</a>
                    <ul>
                        <li><a href="#">Gym*</a></li>
                        <li><a href="#">Totes*</a></li>
                        <li><a href="#">Cangureras*</a></li>
                        <li><a href="#">Mochilas*</a></li>
                    </ul>
                </li>
                <li><a href="#">JOYERÍA</a>
                    <ul>
                        <li><a href="#">Anillos*</a></li>
                        <li><a href="#">Cadenas*</a></li>
                        <li><a href="#">Brazaletes*</a></li>
                        <li><a href="#">Relojes*</a></li>
                        <li><a href="#">Aretes*</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>
</div>