<div class="carousel">
  <div class="carousel-track">
    <div class="carousel-content">
      <span>ENVÍOS GRATIS A TODA LA REPÚBLICA A PARTIR DE $1500</span>
      <span>DEVOLUCIONES Y REEMBOLSOS A PARTIR DE 30 DIAS</span>
      <span>PRODUCTOS NUEVOS CADA SEMANA</span>
      <span>MARCA NUEVA EN RAIPORT CLUB: MAJASPORTSWEAR</span>
      <span>ENVÍOS GRATIS A TODA LA REPÚBLICA A PARTIR DE $1500</span>
      <span>DEVOLUCIONES Y REEMBOLSOS A PARTIR DE 30 DIAS</span>
      <span>PRODUCTOS NUEVOS CADA SEMANA</span>
      <span>MARCA NUEVA EN RAIPORT CLUB: MAJASPORTSWEAR</span>
      <span>ENVÍOS GRATIS A TODA LA REPÚBLICA A PARTIR DE $1500</span>
      <span>DEVOLUCIONES Y REEMBOLSOS A PARTIR DE 30 DIAS</span>
      <span>PRODUCTOS NUEVOS CADA SEMANA</span>
      <span>MARCA NUEVA EN RAIPORT CLUB: MAJASPORTSWEAR</span>
      <span>ENVÍOS GRATIS A TODA LA REPÚBLICA A PARTIR DE $1500</span>
      <span>LUFFY SERÁ EL REY DE LOS PIRATAS</span>
      <span>PRODUCTOS NUEVOS CADA SEMANA</span>
      <span>MARCA NUEVA EN RAIPORT CLUB: MAJASPORTSWEAR</span>
      <span>ENVÍOS GRATIS A TODA LA REPÚBLICA A PARTIR DE $1500</span>
      <span>DEVOLUCIONES Y REEMBOLSOS A PARTIR DE 30 DIAS</span>
      <span>PRODUCTOS NUEVOS CADA SEMANA</span>
      <span>MARCA NUEVA EN RAIPORT CLUB: MAJASPORTSWEAR</span>
      <span>ENVÍOS GRATIS A TODA LA REPÚBLICA A PARTIR DE $1500</span>
      <span>DEVOLUCIONES Y REEMBOLSOS A PARTIR DE 30 DIAS</span>
      <span>PRODUCTOS NUEVOS CADA SEMANA</span>
      <span>MARCA NUEVA EN RAIPORT CLUB: MAJASPORTSWEAR</span>
    </div>
  </div>
</div>