<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h3>RAIPORT CLUB*</h3>
        </div>
        
        <ul class="footer-links">
            <li><a href="#">INSTAGRAM</a></li>
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">SPOTIFY</a></li>
            <li><a href="#">TIKTOK</a></li>
        </ul>
        
        <div class="footer-copyright">
            <p>© 2026 RAIPORT CLUB. TODOS LOS DERECHOS RESERVADOS.</p>
        </div>
    </div>
</footer>